<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="7px">
            <tr>
                <th>webpage</th>
            </tr>
             
            {% for wo in Webpages %}
                <tr>
                    <td>{{wo.Topic_name}}</td>
                    <td>{{wo.Name}}</td>
                    <td>{{wo.url}}</td>
                </tr>
                
            {% endfor %}

        </table>
    </center>
    
</body>
</html>